<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result</title>
</head>
<body>
    <form action="http://localhost:5000/result" method="POST">
        <p>name </p>
        <input type="text" name="Name">
        <!--name is important for autofilling data and to represent data also-->
        <p>phy</p>
        <input type="text" name="physics">
        
        <p>chemi</p>
        <input type="text" name="chemistry">
        <br>
        <br>
        <input type="submit" value="chalu le">
    </form>


</body>
</html>