<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>cookie</title>
  


</head>
<body>
   
  <center>
    <form action="/setcookie" method="POST">
    <center><h2>Login form</h2></center>
    <label for="uname">Username</label>
    <input type="text" name="uname" placeholder="enter username" required><br><br>
    
    <label for="pwd">Password</label>
    <input type="password" name="pwd" required><br><br>

    <input type="submit" value = "submit chey " >
    </form>
  </center>
    
</body>
</html>
